		
			<!-- Banner Start -->
			
			<div class="banner padd">
				<div class="container">
					<!-- Image -->
					<img class="img-responsive" src="/assets/img/crown-white.png" alt="" />
					<!-- Heading -->
					<h2 class="white">Gallery</h2>
					<ol class="breadcrumb">
						<li><a href="index">Home</a></li>
						<li class="active">Gallery</li>
					</ol>
					<div class="clearfix"></div>
				</div>
			</div>
			
			<!-- Banner End -->
			
			
			
			<!-- Inner Content -->
			<div class="inner-page padd">
				
				<!-- Gallery Start -->
				
				<div class="gallery">
					<div class="container">
						<!-- Gallery elements with pretty photo -->
						<div class="gallery-content">
							<div class="row">
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src="/assets/img/dish/dish1.jpg" alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href="/assets/img/dish/dish1.jpg" class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src="/assets/img/dish/dish2.jpg" alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href="/assets/img/dish/dish2.jpg" class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src="/assets/img/dish/dish3.jpg" alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href="/assets/img/dish/dish3.jpg" class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src="/assets/img/dish/dish4.jpg" alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href="/assets/images/img/dish/dish4.jpg" class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src="/assets/img/dish/dish12.jpg" alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href="/assets/img/dish/dish12.jpg" class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src="/assets/img/dish/dish13.jpg" alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href="/assets/img/dish/dish13.jpg" class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src="/assets/img/dish/dish14.jpg" alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href="/assets/img/dish/dish14.jpg" class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src="/assets/img/dish/dish15.jpg" alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href="/assets/img/dish/dish15.jpg" class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src="/assets/img/dish/dish16.jpg" alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href="/assets/img/dish/dish16.jpg" class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src="/assets/img/dish/dish17.jpg" alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href="/assets/img/dish/dish17.jpg" class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src="/assets/img/dish/dish18.jpg" alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href="/assets/img/dish/dish18.jpg" class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src="/assets/img/dish/dish19.jpg" alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href="/assets/img/dish/dish19.jpg" class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div><!-- Separate gallery element --><!--/ End Gallery content class -->
					</div>
				</div>
				
				<!-- Gallery End -->
			
				<!-- Showcase Start -->
				
				<div class="showcase">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<!-- Showcase section item -->
								<div class="showcase-item">
									<!-- Image -->
									<img class="img-responsive" src="/assets/img/fruit2.png" alt="" />
									<!-- Heading -->
									<h3><a href="#">Equine Porno Sumos</a></h3>
									<!-- Paragraph -->
									<p>Nam libero tempore, cum soluta nobis est minis voluptas assum simple and easy to distinguis quo.</p>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<!-- Showcase section item -->
								<div class="showcase-item">
									<!-- Image -->
									<img class="img-responsive" src="/assets/img/fruit3.png" alt="" />
									<!-- Heading -->
									<h3><a href="#">Equine Porno Sumos</a></h3>
									<!-- Paragraph -->
									<p>Nam libero tempore, cum soluta nobis est minis voluptas assum simple and easy to distinguis quo.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Showcase End -->
				
			</div><!-- / Inner Page Content End -->	

			
		</div><!-- / Wrapper End -->
		
		
		<!-- Scroll to top -->
		<span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span> 
		
		
		
		<!-- Javascript files -->
		<!-- jQuery -->
		<script src="/assets/js/jquery.js"></script>
		<!-- Bootstrap JS -->
		<script src="/assets/js/bootstrap.min.js"></script>
		<!-- Pretty Photo JS -->
		<script src="/assets/js/jquery.prettyPhoto.js"></script>
		<!-- Respond JS for IE8 -->
		<script src="/assets/js/respond.min.js"></script>
		<!-- HTML5 Support for IE -->
		<script src="/assets/js/html5shiv.js"></script>
		<!-- Custom JS -->
		<script src="/assets/js/custom.js"></script>
		<!-- JS code for this page -->
		<script>
		/* Gallery */

		jQuery(".gallery-img-link").prettyPhoto({
		   overlay_gallery: false, social_tools: false
		});
		
		</script>
